$color-theme: #ED1B2E;
$color-dark_theme:#D10719;

$color-black: #000000;
$color-dark_gray: #636569;
$color-gray: #ccc;
$color-pale_gray: #F8F8F8;
$color-white: #FFFFFF;

$font-set: "AvenirNext", "Noto Sans TC", "微軟正黑體", sans-serif;
// $font-title:'Roboto', sans-serif;
// $font-content: 'Roboto', 'Noto Sans TC', sans-serif;
// $font-special: 'Noto Sans TC', sans-serif;
// $font-small: "微軟正黑體", "Roboto", "Noto Sans TC", sans-serif;
